
<div class="global-body home_panel" style="position: relative;left:0px;">
	<!-- Page content -->
<div id="page" style="margin:10px 10px 50px 10px">
	<div class="content-box column-left">
      <div class="content-box-header">
        <h3>靠左消息框</h3>
      </div>
      <div class="content-box-content">
        <div class="tab-content default-tab">
          <p> 认真学习部省各类技术规范和要求，《河南省集体土地所有权实施细则》、《河南省农村集体土地所有权数据库标准（试行》、《宗地代码编制规则》、《二次调查规程》</p>
        </div>
        <!-- End #tab3 -->
      </div>
	  <div class="content-box-content">
        <div class="tab-content default-tab">
          <p>本县数据库修改严格按照国家规定，仅针对数据库质量问题进行了修改，没有对数据库内容进行修改，如因擅自修改地类造成的一切后果，由我单位承担。</p>
        </div>
        <!-- End #tab3 -->
      </div>
      <!-- End .content-box-content -->
    </div>
	
	<div class="content-box column-right">
		<div class="content-box-header">
			<h3>案件完成情况</h3>
		</div>
		<div class="content-box-content">
		<fieldset>
		<table class="no-style full">
			<tbody>
				<tr>
					<td>完成案件</td>
					<td class="ta-right">20</td>
					<td><div id="progress1" class="progress full progress-green"><span><b></b></span></div></td>
				</tr>
				<tr>
					<td>待办案件</td>
					<td class="ta-right">40</td>
					<td><div id="progress2" class="progress full progress-blue"><span><b></b></span></div></td>
				</tr>
				<tr>
					<td>超时案件</td>
					<td class="ta-right">80</td>
					<td><div id="progress3" class="progress full progress-red"><span><b></b></span></div></td>
				</tr>
				<tr>
					<td>加急案件</td>
					<td class="ta-right">60</td>
					<td><div id="progress4" class="progress full progress-purple"><span><b></b></span></div></td>
				</tr>
				<tr>
					<td>归档案件</td>
					<td class="ta-right">30</td>
					<td><div id="progress5" class="progress full progress-yellow"><span><b></b></span></div></td>
				</tr>
			</tbody>
		</table>
		</fieldset>
		</div>
	</div>
    
	<div class="content-box column-full">
		<div class="content-box-header">
			<h3>消息框</h3>
		</div>
		<div class="content-box-content">
         <h4>土地调查基础数据库修改报告</h4>
         <div id="TJ"></div>
		</div>
	</div>
	
	<div class="content-box column-full">
      <div class="content-box-header">
        <h3>消息框</h3>
      </div>
      <div class="content-box-content">
        
          <h4>土地调查基础数据库修改报告</h4>
          <p> 由于*县变更基础数据库自身遗留质量错误，影响增量数据库生成。依据《关于变更调查中数据库变更相关问题处理意见》要求，对变更基础数据库进行修改。
			 一、修改错误类型
			1．错误类型 1（错误描述）
			   经核实，基础数据库共有**错误共计n条，影响数据变更；
			2．错误类型 2（错误描述）
			……
			二、修改错误内容
			  通过修改变更基础数据库，总计修改错误类型*错误*处，具体修改内容详见下表。 
			 </p>
      </div>
    </div>
	
	
	<div class="content-box column-left">
		<fieldset>
			<legend>提示消息窗口</legend>
			<div class="box box-info">提示消息，蓝色</div>
			<div class="box box-info-msg">
				<ol>
					<li>阿斯顿发生大发斯蒂芬</li>
					<li>是电饭锅上东风公司电饭锅</li>
				</ol>
			</div>
		</fieldset>
		<fieldset>
			<legend>warning message</legend>
			<div class="box box-warning">Invalid credit card info</div>
			<div class="box box-warning-msg">
				<ol>
					<li>Credit card number entered is invalid</li>
					<li>Credit card verification number must be a valid number</li>
				</ol>
			</div>
		</fieldset>
	</div>

	<div class="content-box column-right">		
		<fieldset>
			<legend>success message</legend>
			<div class="box box-success">Invalid credit card info</div>
			<div class="box box-success-msg">
				<ol>
					<li>Credit card number entered is invalid</li>
					<li>Credit card verification number must be a valid number</li>
				</ol>
			</div>
		</fieldset>
		<fieldset>
			<legend>Error message</legend>
			<div class="box box-error">Invalid credit card info</div>
			<div class="box box-error-msg">
				<ol>
					<li>Credit card number entered is invalid</li>
					<li>Credit card verification number must be a valid number</li>
				</ol>
			</div>
		</fieldset>
	</div>
	

</div>
	<footer id="bottom">
		<div class="wrapper">
			<p>Copyright &copy; 2007-2013 <b><a target="_blank">南京地正信息技术有限公司</a></b> |  软件名称 <a target="_blank">三权登记地籍管理平台</a></p>
		</div>
	</footer>
	<!-- Animated footer -->
	<footer id="animated">
		<ul>
			<li><a href="#">案件办理</a></li>
			<li><a href="#">案件查询</a></li>
			<li><a href="#">统计汇总</a></li>
			<li><a href="#">用户管理</a></li>
			<li><a href="#">待办案件</a></li>
		</ul>
	</footer>
	<!-- End of Animated footer -->
	
	<!-- Scroll to top link -->
	<a href="#" id="totop">^顶部</a>
	</div>
<script type="text/javascript" src="Plugin/Highcharts-3.0.1/js/highcharts.js"></script>
<script type="text/javascript" src="Plugin/Highcharts-3.0.1/js/modules/exporting.js"></script>
<script type="text/javascript" SRC="Script/Main/jquery.tipTip.min.js"></script>
<script type="text/javascript" SRC="Script/Main/jquery.nyroModal.pack.js"></script>
<script type="text/javascript" SRC="Script/Main/jquery.superfish.min.js"></script>
<script type="text/javascript" SRC="Script/Main/jquery.supersubs.min.js"></script>
<script type="text/javascript" SRC="Script/Main/administry.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	
	/* setup navigation, content boxes, etc... */
	Administry.setup();
	
	/* progress bar animations - setting initial values */
	Administry.progress("#progress1", 2, 10);
	Administry.progress("#progress2", 4, 10);
	Administry.progress("#progress3", 8, 10);
	Administry.progress("#progress4", 6, 10);
	Administry.progress("#progress5", 3, 10);

});
</script>
<script type="text/javascript">
$(function () {
        $('#TJ').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: '案件办理情况统计'
            },
            subtitle: {
                text: '洛阳市土地登记大厅'
            },
            xAxis: {
                categories: [
                    '一月',
                    '二月',
                    '三月',
                    '四月',
                    '五月',
                    '六月',
                    '七月',
                    '八月',
                    '九月',
                    '十月',
                    '十一月',
                    '十二月'
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: '案件个数'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} 个</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: '已完成',
                data: [41, 65, 82, 95, 110, 115, 85, 137, 122, 110, 87, 49]
    
            }, {
                name: '未完成',
                data: [83.6, 78.8, 98.5, 93.4, 106.0, 84.5, 105.0, 104.3, 91.2, 83.5, 106.6, 92.3]
    
            }, {
                name: '退回',
                data: [48.9, 38.8, 39.3, 41.4, 47.0, 48.3, 59.0, 59.6, 52.4, 65.2, 59.3, 51.2]
    
            }, {
                name: '归档',
                data: [42.4, 33.2, 34.5, 39.7, 52.6, 75.5, 57.4, 60.4, 47.6, 39.1, 46.8, 51.1]
    
            }]
        });
    });
    

		</script>